.hero-section {
    height: 100%;
    margin-top: 66px;
    display: grid;
    grid-template-areas: 'h-1 h-2';
    gap:20px;
    margin-bottom: 65px;
    align-items:center;
    .hero-1 {
        grid-area: h-1;
        .heading-text {
            font-size: 44px;
            letter-spacing: -0.4px;
            color: #000000;
            opacity: 1;
        }
    }
    .hero-2 {
        grid-area: h-2;
        // img{
        //     transform: scale(1);
        // }
    }
}


@media (max-width: 1199px) {
    .hero-section {
        height: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-areas: 'h-1 h-2';
        .hero-1 {
            grid-area: h-1;
            padding-top: 40px;
            width: 100%;
            box-sizing: border-box;
            .heading-text {
                font-size: 40px;
            }
        }
        .hero-2 {
            grid-area: h-2;
            width: 100%;
            box-sizing: border-box;
            padding-top: 20px;
            img {
                transform: scale(1);
            }
        }
    }
}

@media(max-width:992px){
    .hero-section {
        height: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-areas: 'h-1 h-2';
        .hero-1 {
            grid-area: h-1;
            padding-top: 50px;
            width: 100%;
            box-sizing: border-box;
            .heading-text {
                font-size: 36px;
            }
        }
        .hero-2 {
            grid-area: h-2;
            width: 100%;
            box-sizing: border-box;
            padding-top: 40px;
            img {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 767px) {
    .hero-section {
        height: 100%;
        grid-template-areas: 'h-2' 'h-1';
        .hero-1 {
            grid-area: h-1;
            width: 100%;
            box-sizing: border-box;
            .heading-text {
                margin-top: -100px;
                font-size: 28px;
            }
        }
        .hero-2 {
            grid-area: h-2;
            width: 100%;
            box-sizing: border-box;
            margin-top: -40px;
            img {
                transform: scale(0.8);
            }
        }
    }
}

@media(max-width:575px){
    .hero-section {
        height: 100%;
        margin-top: 30px;
        grid-template-areas: 'h-2' 'h-1';
        .hero-1 {
            grid-area: h-1;
            padding-top: 50px;
            width: 100%;
            box-sizing: border-box;
            .heading-text {
                font-size: 21px;
                font-weight: 600;
                letter-spacing: 1.5;
            }
        }
        .hero-2 {
            grid-area: h-2;
            width: 100%;
            box-sizing: border-box;
            img {
                transform: scale(1)
            }
        }
    }
}


a.btn-google {
    color: #fff
}

.btn {
    padding: 10px 16px;
    margin: 5px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-weight: 500;
    text-decoration: none;
    display: inline-block
}

.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
    outline: 0
}

.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-google {
    color: #fff;
    background-color: #111;
    border-color: #000;
    padding: 15px 16px 5px 40px;
    position: relative;
    font-family: 'Product Sans', Arial, sans-serif;
    font-weight: 600
}

.btn-google:focus {
    color: #fff;
    background-color: #555;
    border-color: #000
}

.btn-google:active,
.btn-google:hover {
    color: #fff;
    background-color: #555;
    border-color: #000;
}

.btn-google:before {
    content: "";
    background-image: url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -15px
}

.btn-google:after {
    content: "GET IT ON";
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 10px;
    font-weight: 400
}

.btn-google:after {
    content: "Dowonload on the";
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 10px;
    font-weight: 400
}

.btn-apple:before {
    content: "";
    background-image: url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -15px
}